:root {
  --greeting-font-size: 30px;
  --heading-font-size: 42px;
  --profession-font-size: 16px;
  --description-font-size: 14px;
  --intro-btn-font-size: 22px;
  --header-heading-font-size: 62px;
  --profession-heading-font-size: 14px;
  --profession-description-font-size: 12px;
  --main-color: #ffba31;
  --sub-color: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 890px) {
  :root {
    --greeting-font-size: 18px;
    --heading-font-size: 28px;
    --profession-font-size: 12px;
    --description-font-size: 10px;
    --intro-btn-font-size: 18px;
    --header-heading-font-size: 52px;
    --profession-heading-font-size: 12px;
    --profession-description-font-size: 10px;
  }
}
@media (max-width: 720px) {
  :root {
    --greeting-font-size: 14px;
    --heading-font-size: 22px;
    --profession-font-size: 8px;
    --description-font-size: 8px;
    --intro-btn-font-size: 14px;
    --header-heading-font-size: 42px;
    --profession-heading-font-size: 10px;
    --profession-description-font-size: 8px;
  }
}
@media (max-width: 620px) {
  :root {
    --greeting-font-size: 10px;
    --heading-font-size: 12px;
    --profession-font-size: 6px;
    --description-font-size: 6px;
    --intro-btn-font-size: 8px;
    --header-heading-font-size: 32px;
    --profession-heading-font-size: 8px;
    --profession-description-font-size: 6px;
  }
}
@media (max-width: 430px) {
  :root {
    --greeting-font-size: 14px;
    --heading-font-size: 22px;
    --profession-font-size: 8px;
    --description-font-size: 8px;
    --intro-btn-font-size: 22px;
    --header-heading-font-size: 22px;
    --profession-heading-font-size:6px;
  --profession-description-font-size:4px;
  }
}
