.home-page-container {
  width: 100%;
  height: 627px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
}
.home-intro-container {
}
.home-image-container {
  height: 100%;
  background-color: blue;
  display: grid;
  grid-template: 1fr/1fr;
  background-image: url("../../assets/pexels-pixabay-220453.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 430px) {
  .home-page-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
  .home-intro-container {
    grid-row: 2/3;
  }
  .home-image-container {
    grid-row: 1/2;
  }
}
